<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1oRm8QQNiHcg1RfZloqmn2HlMQeogl5M</string>
	<key>GCM_SENDER_ID</key>
	<string>529739976630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase2project.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-2auth-e22cc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-2auth-e22cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529739976630:ios:1a62f6b56655eec34c3b17</string>
</dict>
</plist>